<div class="con">
    <table class="connections-list">
        <tbody>
            <tr class="item items-header">
                <th class="con-header con-name">{{localize "GSS.Opponent"}}</th>
                <td class="con-header con-arrow"></td>
                <th class="con-header con-contents">{{localize "GSS.Contents"}}</th>
                <th class="con-header con-to-value">{{localize "GSS.Intensity"}}</th>
                <th class="con-header isthread">
                    <a class="item-control item-create" title="Create item" data-type="connection">
                        <i class="fas fa-plus"></i>
                        {{localize "GSS.Add"}}</a>
                </th>
            </tr>
            <tr class="connections-divider">
                <td colspan="5"></td>
            </tr>
            <tr class="item">
                <td class="con-item con-name" rowspan="2">{{localize "GSS.Town"}}</td>
                <td class="con-item con-arrow"><i class="fas fa-angle-double-left"></i></td>
                <td class="con-item con-to"><input type="text" name="data.town.contents" value="{{data.town.contents}}"/></td>
                <td class="con-item con-to-value"><progress class="convalue" value="{{data.town.value}}" max="5"></td>
                <td class="con-item isthread"><input type="number" name="data.town.value" value="{{data.town.value}}"/></td>
            </tr>
            <tr class="item">
                <td class="con-item con-arrow"><i class="fas fa-angle-double-right"></i></td>
                <td class="con-item con-by">{{localize "GSS.Acceptance"}}</td>
                <td class="con-item con-by-value"><progress class="convalue" value="{{data.town.by}}" max="5"></td>
                <td class="con-item isthread"><input type="number" name="data.town.by" value="{{data.town.by}}"/></td>
            </tr>
			<tr class="connections-divider">
				<td colspan="5"></td>
			</tr>
            {{#each connections as |item id|}}
                <tr class="item" data-item-id="{{item._id}}">
                    <td class="con-item con-name" rowspan="2">{{item.name}}</td>
                    <td class="con-item con-arrow"><i class="fas fa-angle-double-left"></i></td>
                    <td class="con-item con-to">{{data.to.contents}}</td>
                    <td class="con-item con-to-value"><progress class="convalue" value="{{data.to.value}}" max="5">{{data.to.value}}</progress></td>
                    <td class="con-item isthread">★</td>
                </tr>
                <tr class="item" data-item-id="{{item._id}}">
                    <td class="con-item con-arrow"><i class="fas fa-angle-double-right"></i></td>
                    <td class="con-item con-by">{{data.by.contents}}</td>
                    <td class="con-item con-by-value"><progress class="convalue" value="{{data.by.value}}" max="5">{{data.by.value}}</td>
                    <td>
                        <a class="item-control item-edit" title="Edit Item">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="item-control item-delete" title="Delete Item">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
				<tr class="connections-divider">
					<td colspan="5"></td>
				</tr>
            {{/each}}
        </tbody>
    </table>
    <div class="con-sidebar">
		<div class="sidebar-resources flex">
        <div class="wonders">
			<h4 class="now">{{localize "GSS.Wonder"}}</h4>
			<h2>{{data.resources.wonder.value}}</h2>
			<div class="add-container flex">
				<span class="plus">+</span>
				<h2>{{data.resources.wonder.add}}</h2>
			</div>
		</div>
        <div class="feeling">
			<h4 class="now">{{localize "GSS.Feelings"}}</h4>
			<h2>{{data.resources.feelings.value}}</h2>
			<div class="add-container flex">
				<span class="plus">+</span>
				<h2>{{data.resources.feelings.add}}</h2>
			</div>
		</div>
		<div class="dreams" {{#unless data.visabledream}} style="display:none;" {{/unless}}>
			<h4 class="now">{{localize "GSS.Dream"}}</h4>
			<input type="number" name="data.resources.dream.value" value="{{data.resources.dream.value}}"/></div>
		</div>
		<div class="emo-list flex">
			<div class="emo emo-head" title="
			{{localize "GSS.To"}} 1 : {{localize "GSS.Dream"}} 5&#10;&#13;{{localize "GSS.To"}} 2 : {{localize "GSS.Dream"}} 5&#10;&#13;{{localize "GSS.To"}} 3 : {{localize "GSS.Dream"}} 5&#10;&#13;{{localize "GSS.To"}} 4 : {{localize "GSS.Dream"}} 8&#10;&#13;{{localize "GSS.To"}} 5 : {{localize "GSS.Dream"}} 12">{{localize "GSS.Emotion"}}<i class="fas fa-info-circle"></i></div>
			<div class="emo" title="{{localize "GSS.LikeDescription"}}">{{localize "GSS.Like"}}<i class="fas fa-info-circle"></i></div>
			<div class="emo">{{localize "GSS.Affection"}}</div>
			<div class="emo">{{localize "GSS.Protection"}}</div>
			<div class="emo">{{localize "GSS.Trust"}}</div>
			<div class="emo">{{localize "GSS.Family"}}</div>
			<div class="emo">{{localize "GSS.Admiration"}}</div>
			<div class="emo">{{localize "GSS.Rivalry"}}</div>
			<div class="emo">{{localize "GSS.Respect"}}</div>
			<div class="emo" title="{{localize "GSS.LoveDescription"}}">{{localize "GSS.Love"}}<i class="fas fa-info-circle"></i></div>
			<div class="emo" title="{{localize "GSS.AcceptanceDescription"}}">{{localize "GSS.Acceptance"}}<i class="fas fa-info-circle"></i></div>
		</div>
		<div class="con-options">
			<div class="con-option">
				<label><input type="checkbox" name="data.isdreamed" {{#if data.isdreamed}} checked {{/if}}>{{localize "GSS.CharaIsDreamed"}}</label></li>
			</div>
			<div class="con-option">
				<label><input type="checkbox" name="data.visabledream" {{#if data.visabledream}} checked {{/if}}>{{localize "GSS.DreamIsVisable"}}</label>
			</ul>
		<div>
    </div>
</div>