<div class="dialog-content">
    <div class="dreamer flex">
    {{#each actors as |actor id|}}
        <div class="dreamline" data-id="{{actor.id}}">
            <button type="button" class="icon-button add-dream" data-add="1"><img src="{{image}}"><i class="fas fa-plus"></i></button><h3>{{name}}</h3>
        </div>
    {{/each}}
    </div>

</div>
<div class="dialog-buttons disabled">
    {{#each buttons as |button id|}}
    <button class="dialog-button" data-button="{{id}}">
        {{{button.icon}}}
        {{{button.label}}}
    </button>
    {{/each}}
</div>
